.markdown-body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 100%;
    word-wrap: break-word;
}

.markdown-body pre {
    background-color: #f6f8fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.markdown-body code {
    font-family: monospace;
    background-color: #f6f8fa;
    padding: 2px 5px;
    border-radius: 4px;
}

.markdown-body h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.markdown-body h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.markdown-body h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    color: blue;
    background-color: #f4f4f4;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination span {
    padding: 8px 12px;
    font-weight: bold;
}

.tag {
    display: inline-block;
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text */
    padding: 5px 10px;
    margin: 3px;
    border-radius: 15px; /* Rounded corners */
    font-size: 14px;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.comment {
    border-left: 3px solid #007bff;
    margin: 10px 0;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
}

body{
    background-image: url("/static/images/bg_pattern1.png");
    background-repeat: repeat;  /* This makes the image repeat */
    background-position: top left; /* Optional: controls where the image starts */
    background-size: auto;  /* Optional: controls the size of the image */
}

/* Not used for now */
.bg-menu { 
    background-image: url("/static/images/bg_menu_pattern1.png");
    background-repeat: repeat;  /* This makes the image repeat */
    background-position: top left; /* Optional: controls where the image starts */
    background-size: auto;  /* Optional: controls the size of the image */
    border-radius: 10px;
    padding: 5px;
}

.bg-header {
    background-image: url("/static/images/banner3.png");
    background-size: auto;
}