{% extends "base.html" %}

{% block title %}About Me - My Blog{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-10">
    <div class="max-w-2xl mx-auto bg-white p-6 shadow-lg rounded-lg">
        <h1 class="text-3xl font-bold text-gray-800 mb-4">About Me</h1>
        <p class="text-gray-700">
            Hi, I’m <strong>Quentin Cartier</strong> 
        </p>
        <p class="text-gray-700 mt-2">
            I'm a software engineer driven by a passion for building the future.
        </p>
        <p class="text-gray-700 mt-2">
            This blog is my space to explore <strong>software engineering concepts</strong>, dive into <strong>real-world development practices</strong>, and discuss <strong>best practices in modern software development</strong>.
        </p>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6">What You’ll Find Here </h2>
        Explore a collection of in-depth articles on software engineering, covering:
        <ul class="list-disc pl-5 text-gray-700 mt-2">
            <li>Key concepts and features of programming languages like C++, Rust, and Python.</li>
            <li>Best practices, design patterns, and software architecture insights.</li>
            <li>Performance optimizations and efficiency improvements.</li>
        </ul>

        <h2 class="text-2xl font-semibold text-gray-800 mt-6">Why This Blog?</h2>
        <p class="text-gray-700 mt-2">
            I started this blog to document my learnings and share insights with fellow developers. Whether you’re a junior developer looking to learn or an experienced engineer seeking fresh perspectives, I hope you find value here.
        </p>
    </div>
</div>
{% endblock %}
